/*______________________Header________________________*/
  #fond1 {/**** Page de garde****/
    background-color: #00CA63;
    height: 660px;

    div{/***Logo***/
      text-align: center;
      padding-top: 120px;
    }

    h1{/***Titre***/
      font-family: "yeti";
      color: #006733;
      font-size: 60px;
      text-align: center;
      margin-top: 25px;
    }
  }

  /*______________________NavBar________________________*/
  .navbar { /**Nav bar de bootstrap**/
    background: rgba(0, 0, 0, 0.1);
    visibility: hidden;
    height: 53px !important;
    /*****Webkit pour transiton plus dousse ...*/
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    button{
    position: relative;
    padding: 0px;
    bottom: 2px;
    width: 10px;
    right: 28px;
    margin-left: 27px;
    }
    footer{
      width: 300px;
      padding-top: 2px;
      display: flex;
      justify-content: space-around;
    }
   }

  .opaque { /***Classe appeler pour aficher la nav***/
    visibility: visible;
    background: #444444;
    /*opacity:0.5;*/
    -moz-box-shadow: 0px 5px 5px 0px;
    -webkit-box-shadow: 0px 5px 5px 0px;
    -o-box-shadow: 0px 5px 5px 0px;
    box-shadow: 0px 5px 5px 0px;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);

    .nav-link {
      color: #fff; /**Couleur apeler quand la nav est visible**/
    }
  }
  .nav-link {
    visibility: visible;
    font-family: "yeti";
    font-size: 40px;
    color: #006733;
  }


  /*****Vertion reponsive****/


  /*****Font des bouton section***/
  @media (max-width:767px){
    nav > header > ul {
      padding-bottom: 15px;
      background-color:#444444;
      -moz-box-shadow: 0px 5px 5px 0px;
      /** ombre **/
      -webkit-box-shadow: 0px 5px 5px 0px;
      -o-box-shadow: 0px 5px 5px 0px;
      box-shadow: 0px 5px 5px 0px;
      filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
    }
  }



  .navbar-toggle{
    height: 43px;
  }

  .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px;
      text-align: center;
  }

  /********Animation menu nav*****/
  /*block lien */
  @media(min-width:768px){
    .logo{
      margin-left: 64%;
      margin-top: -39px;
      width: 270px;
    }
  }
  /*
    menu icon css3
  */


  .menu-icon {
    position: relative;
    top: 2px;
    display: block;
    width: 50px;
    height: 15px;
    cursor: pointer;
    /* to center */
    margin: 0 auto;
    float: none;
    -webkit-transition: all 0.3s;
  	        transition: all 0.3s;
  }

  .menu-icon > span {
    position: absolute;
      top: 66%;
      display: block;
      width: 99%;
      height: 5px;
      margin-top: -0.5em;
      background-color: #e74c3c;
      border-radius: 3px;
  }

  .menu-icon > span:before,
  .menu-icon > span:after {
    content: "";
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #e74c3c;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
  	        transition: all 0.3s;
  }
  .menu-icon > span:before {
    -webkit-transform: translateY(-1em);
  	        transform: translateY(-1em);
  }
  .menu-icon > span:after {
    -webkit-transform: translateY(1em);
  	        transform: translateY(1em);
  }

  /* OPENED */
  .menu-icon.open {
    -webkit-transform: rotate(45deg);
  	        transform: rotate(45deg);
  }
  .menu-icon.open > span:before {
    -webkit-transform: rotate(90deg);
  	        transform: rotate(90deg);
  }
  .menu-icon.open > span:after {
    -webkit-transform: rotate(90deg);
  	        transform: rotate(90deg);
  }
